# 本地存储目录
DATA_PATH_HOST=~/.easycar/data

# NetWorks driver
# see: https://docs.docker.com/compose/compose-file/compose-file-v3/#network-configuration-reference
NETWORKS_DRIVER=bridge
### common #################################################
TIMEZONE=Asia/Shanghai
### Redis  #######################################################

### MYSQL #################################################

# mysql version
MYSQL_VERSION=8.0.29

MYSQL_DATABASE=easycar

# mysql user info
MYSQL_USER=easycar
MYSQL_PASSWORD=easycar

# mysql port
MYSQL_PORT=3306
# mysql password
MYSQL_ROOT_PASSWORD=root
